@model Application.ViewModels.AddFileTransferViewModel

@{
    ViewData["Title"] = "Create";
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Error
    </div>
}

@if (ViewBag.Message != null)
{
    <div class="alert alert-primary" role="alert">
        @ViewBag.Message
    </div>
}

<h1>Send File Transfer</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if(ViewBag.Users != null)
            {
                <div class="form-group">
                <label asp-for="AuthorizedUsers" class="control-label"></label>
                <select asp-for="AuthorizedUsers" class="selectpicker col-10" multiple title="Choose one of the following...">
                    @foreach(var user in ViewBag.Users)
                    {
                        <option>@user</option>
                    }
                </select>

                <span asp-validation-for="AuthorizedUsers" class="text-danger"></span>
                </div>
            }
            
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group custom-file">
                <label asp-for="FilePath" class="control-label"></label>
                <input type="file" class="form-control" name="file" multiple>
                <span asp-validation-for="FilePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpiryDate" class="control-label"></label>
                <input type="date" asp-for="ExpiryDate" class="form-control" />
                <span asp-validation-for="ExpiryDate" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Get a Link" class="btn btn-primary" />
            </div>      
        </form>
    </div>
</div>

<div>
    <a asp-action="Details">View your File Transfers</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
