@using Presentation.Controllers;
@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
@{
    var data = ViewBag.ErrorMessage;
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<h2 class="text-danger">@data</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Reason:</strong> <code>@Model.RequestId</code>
    </p>
}
